<%= render partial: 'partials/title', locals: {title: 'Programs'} %>
<div class="content-bubble-wrapper">
  <div class="content-bubble">
    <div class="half left">
      <%= image_tag 'boy_gardening.jpg' %>
    </div>
    <div class="half right ">
      <h2><%= link_to 'Outreach Program', get_involved_path %></h2>
        We are always looking for opportunities to partner up with other organizations that share similar charitable, educational or scientific purposes & values.
      <h2><%= link_to 'Community Garden', garden_path %></h2>
        Built to improve public health, strengthen social bonds, increase agricultural interest, reduce barriers to gardening and food production, reduce environmental impact, and provide pollinator habitat.
      <h2><%= link_to 'Pumpkin Smash', pumpkin_smash_path %></h2>
        Annual event designed to educate participants on composting, sustainability and healthy lifestyles as they have a smashing good time resulting in the diversion of tons of pumpkins from Landfills after Halloween.
    </div>
  </div>
</div>

