<%= render partial: 'partials/title', locals: {title: 'Scraps to Soil'} %>
<div class="content-bubble-wrapper">
  <div class="content-bubble">
    <div class="half left">
      <%= image_tag 'proposal_draft_1.png' %>
    </div>
    <div class="half right highlight">
      <h2>
        What is our budget?
      </h2>
      <ul>
        <li>ESTIMATED BUDGET: $150,000.00</li>
        <li>GARDEN PHASE 1: $72,000.00</li>
        <li>RAISED TO MARCH19: $59,000.00</li>
        <li>GOAL JUNE 8TH: $13,000.00 DONATE NOW “HERE”</li>
      </ul>
    </div>
  </div>
  <div class="content-bubble">
    <div class="half left highlight">
      <h2>
        Why fundraising to rebuild OUR community garden?
      </h2>
      <p>
        We are requesting funds to rebuild the Idaho Springs Community Garden(ISCG). This new garden, built based on the
        lessons learned from the existing garden, will allow for a better enjoyment and use of the space. It will be
        clear that everyone is welcome to use it keeping a clear line between plots with seasonal owners and open plots
        for the use and enjoyment of visitors. I will also provide a better space for the use and storage of tools and
        materials. It will provide a better space for outdoor educational classes and gatherings.
      </p>
      <p>
        The community garden will be located in Idaho Springs but serves families from the whole County like, Dumont,
        Empire, Georgetown and Silverplume.
      </p>
      <p>
        The ISCG has existed for 5 years. On 2016 we had 38 rentable plots with an approximately size of 5x10ft ea.
      </p>
    </div>
    <div class="half right">
      <%= image_tag 'all_in.jpeg' %>
    </div>
  </div>
  <div class="content-bubble">
    <div class="half left">
      <%= image_tag 'boy_gardening.jpeg' %>
    </div>
    <div class="half right">
      <h2>
        Ask a question?
      </h2>
      <p>
        The Idaho Springs Community garden meets a number of needs and captures opportunities for social engagement,
        improved health, community pride and environmental awareness in our community.
      </p>
      <p>
        The reconstruction of the community garden will culminate a years long effort to establish the Idaho Springs
        Community Garden as a permanent feature of our community. The original garden, deconstructed to allow for road
        realignment, was identified as the most popular amenity in the area during city community input sessions. We
        first built the Garden to improve public health, strengthen social bonds, increase agricultural interest, reduce
        barriers to gardening and food production, reduce environmental impact, and provide pollinator habitat. The
        original Garden accomplished these goals in ways that we had not imagined. It’s reconstruction will make these
        benefits last.
      </p>
      <p>
        Idaho Springs is located at 7,500 feet in a mountain valley. The barriers to agriculture in our community
        include short summers, water restrictions, wildlife and lack of access to space. Those who live apartments and
        outside of town most acutely face these challenges. Because these groups are also the most isolated, with the
        elderly concentrated in apartments and the wealthy living outside of town, the Garden is a forum for social
        engagement across barriers of age, location, income and ability. The young are afforded the opportunity to
        develop interest in agriculture, some of whom will become part of the next generation of farmers.
      </p>
    </div>
  </div>
  <div class="content-bubble">
    <div class="half left">
      <%= image_tag 'compost.jpeg' %>
    </div>
    <div class="half right">
      <h2>
        Ask a question?
      </h2>
      <p>
        The initial motivation for the community garden was environmental impact. Locally produced food has a lower
        environmental impact, creates habitat for pollinators and increases commitment to solving environmental issues.
        Through research and then experience in the garden, we realized that the social benefits were in many ways more
        tangible and direct. As groups of children, teenagers, adults and the elderly milled through the garden engaging
        in agriculture, socializing, stretching, building strength and soaking in the sun, the breadth of the benefits
        of the community garden hit home. A developmentally disabled woman found an accepting social sphere and a reason
        to be outside. A group of youth inmates discovered taste for fresh food and inspiration in positive action. An
        elderly woman found a reason to go outside again. All the time pollinators buzzed and flapped amongst them. The
        rebuilt community garden will enhance these effects and give them permanency.
      </p>
      <p>
        This redefinition of success has informed the redesign of the garden. The garden was professionally designed
        and
        estimated by a firm through in-kind support from the city of Idaho Springs. Former gardeners and residents
        provided feedback through multiple rounds of design review. The design features of the new garden were based
        on
        the learning from the former garden. We have increased the dedicated social space recognizing the social
        capital
        built in the garden. It is includes more space for educational pollinator gardens. It includes a variety of
        bed
        sizes, which can be varied year to year, to accommodate different family sizes and different ability and
        commitment levels. Having a professional design and estimate gives us certainty in our budgeting and
        credibility
        with potential funding.
      </p>
    </div>
  </div>
  <div class="content-bubble">
    <div class="half left">
      <%= image_tag 'plant_circle.jpeg' %>
    </div>
    <div class="half right">
      <h2>
        Ask a question?
      </h2>
      <p>
        Momentum has been growing locally for the capital campaign as evidenced through a series of partnerships
        with
        local organizations. Our local food bank has contributed and is interested in renting plots for use by and
        donation to their shoppers. Our local gardening club has committed to matching contributions by their
        members
        and helping in the horticultural design of specific ornamental beds. Techers in the elementary school have
        expressed desire to have their students learn through the design of ornamental beds. The local Recreation
        district is exploring ways to support us by registering gardeners. The Henderson Mine, a major employer in
        the
        area, has contributed $45,000.00, Beaujos Pizza has contributed $2000 and Smokin Yards BBQ has contributed
        $500
        to the effort as well. + ADD $$ INDIVIDUAL DONORS HAVE DONATED SO FAR. These results show a commitment to
        rebuilding and using the garden by the local population.
      </p>
    </div>
  </div>
</div>
