<%= render partial: 'partials/title', locals: {title: 'Community Garden'} %>
<div class="content-bubble-wrapper">
  <div class="content-bubble">
    <div class="one_third left">
      <%= image_tag 'boy_gardening.jpg' %>
    </div>
    <div class="two_thirds right highlight">
      <h2>
        Registration - Gardening Season 2020
      </h2>
      <p>
        The new community garden features 20 raised cedar beds of different sizes, 4x8ft, 4x16ft & 4x20ft with an automatic irrigation that can be rented seasonally. The garden will be protected from wildlife with an upgraded motion detecting sprinkler system. Gardeners are encouraged to share the larger plots. Shared tools will be stored in the Garden shed while the old Loveland shack will be transformed into a playhouse for kids right next to the famous sunflower house.  A shade structure, new signage and donor recognition plaques will be installed early summer 2020.
      </p>
      <p>
        Plots are going fast; contact Scraps-to-Soil to be added to the waiting list. Please send an email to info@scraps-to-soil.org with your Full name, address, phone & email if you would like to be added to the community garden waiting list. Former community gardeners will have first right of refusal.  Scraps-to-Soil is also looking for gardeners to join the Community Garden leadership team.
      </p>
      <p>
        We can’t wait for gardening season! The garden will again be a place for community residents to gather and garden together.  Gardeners will learn how to grow food, maintain soil, hone their cooking skills, and experience the joy of eating fresh food alongside their neighbors. This critical piece of community infrastructure has been secured and we are grateful.  Thank you to the residents, local organizations, and businesses of Clear Creek County.
      </p>
    </div>
  </div>
  <div class="content-bubble">
    <div class="half left highlight">
      <h2>
        Sizes & Fees
      </h2>
      <p>
        The seasonal garden plot fee includes: Cedar raised garden bed with soil & automatic irrigation system, wildlife protection, access to seed bank, tools, gardening materials and educational High altitude gardening information.
      </p>

      <table>
        <tr>
          <td>4’ x 8’ raised garden bed</td>
          <td>$75</td>
        </tr>
        <tr>
          <td>4’ x 16’ raised garden bed</td>
          <td>$150</td>
        </tr>
        <tr>
          <td>4’ x 20’ raised garden bed</td>
          <td>$200</td>
        </tr>
        <tr>
          <td>4’ x 20’ ADA garden bed</td>
          <td>$200</td>
        </tr>
      </table>

      <ul>
        <li>
          Any garden bed can be shared. Shared gardens fill out one (1) application form.
        </li>
        <li>
          The garden fee is a one-time payment.
        </li>
        <li>
          The fee covers the water bill, garden insurance, social gatherings fund, Maintenance fund & Garden improvements fund.
        </li>
        <li>
          We want to make sure everyone in our community has access to growing their own food, if the fee is an impediment to get a plot, please contact us, we have a scholarship for you!
        </li>
        <li>
          You can sponsor a plot for a local family, please contact us!
        </li>
      </ul>
    </div>
    <div class="half right">
      <%= image_tag 'boy_gardening.jpg' %>
    </div>
  </div>
  <div class="content-bubble">
    <div class="half left">
      <%= image_tag 'boy_gardening.jpg' %>
    </div>
    <div class="half right">
      <h2>
        Garden Timeline
      </h2>
      <table>
        <tr>
          <td>Garden Registration:</td>
          <td>March - April 2020</td>
        </tr>
        <tr>
          <td>Spring Projects:</td>
          <td>May (1st & 2nd week)</td>
        </tr>
        <tr>
          <td>Garden Open to Gardeners:</td>
          <td>May 10th (Mother's Day)</td>
        </tr>
        <tr>
          <td>Plots Planted Deadline:</td>
          <td>June 15th</td>
        </tr>
        <tr>
          <td>Grand Opening:</td>
          <td>June 17th @ 5pm</td>
        </tr>
        <tr>
          <td>Garden Closing Day</td>
          <td>October 17th</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="content-bubble">
    <div class="one_third left">
      <%= image_tag 'boy_gardening.jpg' %>
    </div>
    <div class="two_thirds right">
      <h2>
        Why gardening as a community?
      </h2>
      <h3>
        To engage socially –
      </h3>
      <p>
      Our community is characterized by a bimodal age and income demographic.  With regards to age, 18% of our residents are over 65, only 8% are between 60 and 65, and 40% are aged 35-59.  Income is similarly bimodal in that the group of annual earners over 200K represents 6 percent of the population, the next group, 130k-200k represent only 7%, and 40-60k represents 20% of the population.  The spatial distribution of this demographic shows that lower earners tend live within Idaho Springs City Limits, while the higher earners tend to live in the mountains outside the city.  These demographic features represent both a challenge and an opportunity.
      The challenge is in getting people from these disparate groups to interact and share a common sense of identity.  It is well established that regular interaction with our neighbors increases our emotional well-being improves our access to means of support.  Gardening is an activity that draws interest from a broad range of income and age groups.  It is physically accessible to the young and aging and financially accessible to all.  Groups who have little in common due to differences in age, lifestyle, income and location have the opportunity to meet each-other as equals and share in positive recreation.  Whether a person is physically unfit for the typical social recreational opportunities in the area, too busy to invest in social bonds outside of work, unable to afford more expensive social recreational opportunities or simply feels to different from their neighbors to be comfortable, the community garden provides a space and context for meaningful social interaction.  The community garden cuts through these barriers in a way that many other recreational opportunities simply can’t.
      A gardener named Melissa is a great example of the community gardens’ ability to cut through social barriers.  Melissa is developmentally challenged.  Not only is she unable to drive or work a steady job, she has trouble creating relationships with her neighbors.  The community garden is a walkable distance from her home, is affordable, and provides her the opportunity and context to engage with fellow gardeners.  In the year’s that she was unable to garden herself due to physical constraints, she served as a volunteer and chaperone at the garden.  This met a critical social need as well as the need to feel like an important and contributing member of our community.
      Natalie was a gardener who lives far outside of town as a single mother of three.  For her the garden became a hub of support for her family.  Its location in town provided a more convenient and comfortable setting for her friends to help her with childcare.  She would meet a friend at the garden and drop her kids off to give her time to run errands.  The children were safe, comfortable and active and their diverse group of watchers had an easier time taking care of them in a setting that they were familiar with.
      </p>
      <h3>
        To improve our health –
      </h3>
      <p>
      Gardening outside has been shown to improve health in three ways.  Light to moderate physical activity, improved access to fresh food and dietary improvement, and recreational social engagement all have the potential to improve a person’s health.  Due to the low financial and physical barriers to this activity, nearly everyone has the opportunity to benefit.
      </p>
      <h3>
        To fill ourselves with community pride –
      </h3>
      <p>
      Community pride is an ephemeral quality that improves people’s lives in meaningful ways.  Increased community pride through aesthetics, visible volunteerism and positive action results in less frequent crime, reducing government expenditures.  People are more likely to stay in communities that they take pride in and participate in its civic institutions.  The original & new community gardens are a testament to that fact.
      </p>
    </div>
  </div>
</div>
