<%= render partial: 'partials/title', locals: {title: 'Garden'} %>
<div class="content-bubble-wrapper">
  <div class="content-bubble">
    <div class="half left">
      <%= image_tag 'boy_gardening.jpeg' %>
    </div>
    <div class="half right highlight">
      <h2>
        Fundraising to Build the Garden
      </h2>
      <p>
        Info + Images
      </p>
      <ul>
        <li>
          BUSINESS SPONSOR – Letter + levels & benefits + Name & logo of sponsors so far (I think their logos should be
          on
          the front Home page too)
        </li>
        <li>
          INDIVIDUAL SPONSOR – Letter (mailer) + levels & benefits + List Sponsors so far?
        </li>
        <li>
          GARDEN KARMA – Fun picture + What is it? + How to get good garden karma? + How to spread the Karma?
        </li>
        <li>
          GIVE TO GROW EVENT – What + Who + When + Where
        </li>
      </ul>
      <p>
        We are requesting funds to rebuild the Idaho Springs Community Garden(ISCG). This new garden, built based on the
        lessons learned from the existing garden, will allow for a better enjoyment and use of the space. It will be
        clear
        that everyone is welcome to use it keeping a clear line between plots with seasonal owners and open plots for
        the
        use and enjoyment of visitors. I will also provide a better space for the use and storage of tools and
        materials.
        It will provide a better space for outdoor educational classes and gatherings.
      </p>
      <p>
        The existing ISCG was funded by lots of individual donors and a grant from CCMRD. It was built by volunteers
        with
        the help and donations of local businesses. The ISCG will be affected by the reconstruction of Colorado Blvd.
        and
        the improvement of walkways. Even though it is hard to let him go, everyone in Scraps-to-Soil agrees that it for
        the betterment of the whole community, especially when the city of Idaho Springs proposed another space for the
        garden to continue after the construction. Focusing on the brighter side of these, we see lots of benefits
        starting with the fact that we have the opportunity to drastically improve the design and use of the garden
        based
        on our 5 years of experience running the existing garden.
      </p>
      <p>
        The need for gardening is not only because we live in the Rocky Mountains and have to deal with high elevation,
        rocky soil and wildlife but, also because lots of our locals don’t have access to a piece of land when they live
        at a hotel room or an apartment; when the food bank would benefit from offering fresh vegetables and when we can
        educate about growing your own food to locals. Scraps-to-Soil hopes to be able to keep providing a space to grow
        food, create community and improve the well being of our County.
      </p>
    </div>
  </div>
  <div class="content-bubble">
    <div class="half left highlight">
      <h2>
        Timeline
      </h2>
      <p>
        Image or list with dates
      </p>
    </div>
    <div class="half right">
      <%= image_tag 'boy_gardening.jpeg' %>
    </div>
  </div>
  <div class="content-bubble">
    <div class="half left">
      <%= image_tag 'boy_gardening.jpeg' %>
    </div>
    <div class="half right">
      <h2>
        Benefits of Gardening in the Community
      </h2>
      <h2>
        Social engagement
      </h2>
      <p>
        Our community is characterized by a bimodal age and income demographic. With regards to age, 18% of our
        residents
        are over 65, only 8% are between 60 and 65, and 40% are aged 35-59. Income is similarly bimodal in that the
        group
        of annual earners over 200K represents 6 percent of the population, the next group, 130k-200k represent only 7%,
        and 40-60k represents 20% of the population. The spatial distribution of this demographic shows that lower
        earners
        tend live within Idaho Springs City Limits, while the higher earners tend to live in the mountains outside the
        city. These demographic features represent both a challenge and an opportunity.
      </p>
      <p>
        The challenge is in getting people from these disparate groups to interact and share a common sense of identity.
        It is well established that regular interaction with our neighbors increases our emotional well-being improves
        our
        access to means of support. Gardening is an activity that draws interest from a broad range of income and age
        groups. It is physically accessible to the young and aging and financially accessible to all. Groups who have
        little in common due to differences in age, lifestyle, income and location have the opportunity to meet
        each-other
        as equals and share in positive recreation. Whether a person is physically unfit for the typical social
        recreational opportunities in the area, too busy to invest in social bonds outside of work, unable to afford
        more
        expensive social recreational opportunities or simply feels to different from their neighbors to be comfortable,
        the community garden provides a space and context for meaningful social interaction. The community garden cuts
        through these barriers in a way that many other recreational opportunities simply can’t.
      </p>
      <p>
        A gardener named Melissa is a great example of the community gardens’ ability to cut through social barriers.
        Melissa is developmentally challenged. Not only is she unable to drive or work a steady job, she has trouble
        creating relationships with her neighbors. The community garden is a walkable distance from her home, is
        affordable, and provides her the opportunity and context to engage with fellow gardeners. In the year’s that she
        was unable to garden herself due to physical constraints, she served as a volunteer and chaperone at the garden.
        This met a critical social need as well as the need to feel like an important and contributing member of our
        community.
      </p>
      <p>
        Natalie was a gardener who lives far outside of town as a single mother of three. For her the garden became a
        hub
        of support for her family. Its location in town provided a more convenient and comfortable setting for her
        friends
        to help her with childcare. She would meet a friend at the garden and drop her kids off to give her time to run
        errands. The children were safe, comfortable and active and their diverse group of watchers had an easier time
        taking care of them in a setting that they were familiar with.
      </p>
      <h2>
        Improved health
      </h2>
      <p>
        Gardening outside has been shown to improve health in three ways. Light to moderate physical activity, improved
        access to fresh food and dietary improvement, and recreational social engagement all have the potential to
        improve
        a person’s health. Due to the low financial and physical barriers to this activity, nearly everyone has the
        opportunity to benefit.
      </p>
      <h2>
        Community Pride
      </h2>
      <p>
        Community pride is an ephemeral quality that improves people’s lives in meaningful ways. Increased community
        pride
        through aesthetics, visible volunteerism and positive action results in less frequent crime, reducing government
        expenditures. People are more likely to stay in communities that they take pride in and participate in its civic
        institutions. The original community garden is a testament to that fact.
      </p>
    </div>
  </div>
  <div class="content-bubble">
    <div class="half left">
      <%= image_tag 'boy_gardening.jpeg' %>
    </div>
    <div class="half right">
      <h2>
        Apply to be a Gardener
      </h2>
      <ul>
        <li>
          WHAT MEANS TO BE A COMMUNITY GARDENER?
        </li>
        <li>
          GUIDELINES AND RESPONSIBILITIES
        </li>
        <li>
          GARDEN PLOTS LAYOUT - Numbered
        </li>
        <li>
          WAITING LIST/APPLICATION – Info + list / Then Info about the application
        </li>
        <li>
          PAYMENT – Can this be the last part on the Application? No payment needed to get on the waiting list
        </li>
        <li>
          KNOWLEDGEBASE / WIKI FOR GARDEN
        </li>
      </ul>
    </div>
  </div>
</div>
