<!DOCTYPE html>
<html>
  <head>
    <title>Scraps to xSoil</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.png' %>
    <link href="https://fonts.googleapis.com/css?family=Lato|Merienda|Arvo|Raleway" rel="stylesheet">
  </head>

  <body>
    <%= render 'partials/header' %>
    <div class="content">
      <%= yield %>
    </div>
    <%= render 'partials/footer' %>
  </body>
</html>
